{% extends "auctions/layout.html" %}

{% block body %}

    <h5 class="m-4 font-weight-bold" style="color:#342e37;">Register</h5>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="form-group col-md-4">

        
        
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control form-control-sm" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control form-control-sm" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control form-control-sm" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control form-control-sm" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-info btn-sm" type="submit" value="Register">
        </form>
        
    </div>

    <div class="mt-4 ml-3">
        Already have an account? Log in <a href="{% url 'login' %}">here.</a>
    </div>
        
        {% endblock %}